.services-list {
  @include list-reset;
}

.services-list__item {
  margin-bottom: 60px;
}

.services-list__picture {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  min-height: 285px;
  margin: 0 auto;

  border: 2px solid #3a3a3a;
  border-radius: 20px;
  box-shadow: -10px 20px 40px rgba(0, 0, 0, 0.15);
}

.services-list__subtitle {
  margin-bottom: 25px;

  text-align: center;
}

.services-list__text {
  max-width: 340px;
  margin: 0 auto;
  margin-bottom: 25px;

  text-align: left;
}

.services-list__item--integration .services-list__image {
  width: 240px;
  height: 265px;
}

@media (min-width: $tablet-width) {
  .services-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 728px;
    margin: 0 auto;
  }

  .services-list__item {
    margin-right: 12px;
    margin-left: 12px;
  }
}

@media (min-width: $desktop-width) {
  .services-list {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: auto;
    margin: 0;
  }

  .services-list__item {
    display: flex;
    align-items: center;
    margin-right: 0;
    margin-bottom: 142px;
    margin-left: 0;

    &:last-child {
      margin-bottom: 167px;
    }
  }

  .services-list__subtitle {
    font-size: 26px;
    text-align: left;
  }

  .services-list__picture {
    width: 440px;
    min-height: 477px;
    margin-right: 80px;

    border-width: 5px;
  }

  .services-list__text {
    width: 480px;
    max-width: none;
  }

  .services-list__item--corporate .services-list__image {
    width: 180px;
    height: 60px;
    margin-bottom: 20px;
  }

  .services-list__item--catalog .services-list__image {
    width: 331px;
    height: 403px;
    margin-top: 2px;
    margin-right: 6px;
  }

  .services-list__item--integration .services-list__image {
    width: 385px;
    height: 425px;
    margin-top: 25px;
  }
}

@media (min-width: $desktop-widescreen) {
  .services-list__subtitle {
    margin-top: 26px;
    margin-bottom: 16px;

    font-size: 30px;
    line-height: 40px;
  }

  .services-list__text {
    margin-bottom: 28px;
  }
}
