$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1260px;
$desktop-widescreen: 1600px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$main-bg-color: #3454f5;
$main-bg-color-2: #eff7ff;
